body {
    background-color: #525d7d;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.navigation {
    display: 'flex';
    justify-content: flex-start;
    margin-bottom: 8px;
}

.nav-element {
    padding: 4px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.nav-element:hover {
    cursor: pointer;
}

.slideshow {
    display: flex;
    flex-direction: column;
    align-items: center;
}